## Ejercicio 1

In [4]:
# creación de diccionario 
planet = {
    'name': 'Mars',
    'moons': 2
}
# Recuperar valores
print(planet.get('name'),planet.get('moons'))

Mars 2

In [5]:
#Añadimos datos
# Añadimos los datos
planet['diameter (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [6]:
#Imprimir el planeta y su diametro polar

print(f'{planet["name"]} polar diameter: {planet["diameter (km)"]["polar"]}')

Mars polar diameter: 6752

## Ejercicio 2

In [7]:
# número total de lunas y promedio
# planetas y lunas
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [8]:
# Número de lunas
for key in planet_moons.keys():
    print(f'{key}: {planet_moons[key]}')

mercury: 0
venus: 0
earth: 1
mars: 2
jupiter: 79
saturn: 82
uranus: 27
neptune: 14
pluto: 5
haumea: 2
makemake: 1
eris: 1

In [10]:
#Variable Lunas y Planetas
Planets = len(planet_moons)
Planets
moons = 0
for value in planet_moons.values():
    
    # El total de las precipitaciones será igual a ese mismo + el valor que se está iterando

    moons = moons + value

# Muestra 'Hay un total de precipitaciones (el valor total) en centímetros en el último cuarto (haciendo referencia al cuarto del año)

print(f'Total de lunas {moons}')

Total de lunas 214

In [14]:
# Promedio de lunas
Promedio = (int(moons)/int(Planets))
print('Promedio de lunas:', Promedio)

Promedio de lunas: 17.833333333333332